#jiu{font-family: Arial; font-size: 20px;}
.jiuu{height: 600px; width: 450px; position: relative;}
#SuA{font-family: Arial; font-size: 20px;}
.suaa{height: 600px; width: 450px; position: relative;}
#Siyeon{font-family: Arial;font-size: 20px;}
.Sii{height: 600px; width: 450px; position: relative;}
#Handong{font-family: Arial;font-size: 20px;}
.hann{height: 600px; width: 450px; position: relative;}
#Yoohyeon{font-family: Arial;font-size: 20px;}
.kimm{height: 600px; width: 450px; position: relative;}
#Dami{font-family: Arial;font-size: 20px;}
.damii{height: 600px; width: 450px; position: relative;}
#Gahyeon{font-family: Arial;font-size: 20px;}
.gahh{height: 600px; width: 450px; position: relative;}